/* ===================blog part start ==================== */
.blog-part-start .breadcrumb ul {
    padding-left: none !important;
    display: flex;
    gap: 10px;
}

.blog-part-start .breadcrumb ul .brdcmb-list{
    color: var(--red-color);
}

.blog-part-start .breadcrumb ul .brdcmb-list a {
    color: var(--black-color);
    text-decoration: none;
}

.blog-part-start .brdcmb-list::after {
    padding: 8px;
    color: var(--black-color);
    content:">";
}

.blog-part-start .brdcmb-list:last-child:after {
    padding: 8px;
    color: var(--black-color);
    content:"";
}

.blog-heading {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}

.blog-heading h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 16px;
}

.blog-heading p{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-color);
    line-height: 27px;
    margin-bottom: 16px;
}

.blg-all-part{
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}


/* =====================blog part end==================== */

/* =====================blog left part start==================== */
.blg-left-part {
    width: 25%;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.srch-icon{
    color: var(--icon-color);
    font-size: 20px;
    font-weight: 400;
}

.search input{
    outline: none;
    border: none;
    width: 90%;
    margin-left: 15px;
}

.search input::placeholder {
    color: var(--icon-color);
    font-size: 16px;
    font-weight: 400;
}

.blog-categories {
    padding: 18px 28px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    margin-top: 32px;
}

.blog-categories h3{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
}

.accordion {
    --bs-accordion-border-color: none !important;
    --bs-accordion-active-bg: none !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.blog-tags {
    padding: 18px 28px;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    margin-top: 32px;
}

.blog-tags h3{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
}

.tag-btn {
    margin-top: 16px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.tag-btn button {
    padding: 8px 10px;
    border: 1px solid var(--border-color);
    background: transparent;
    color: var(--black-color);
    font-size: 17px;
    font-weight: 400;
    border-radius: 8px;
}

.rcnt-post {
    margin-top: 60px;
}

.rcnt-post h3{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
}

.post-item {
    display: flex;
    gap: 10px;
    margin-top: 32px;
}

.post-text h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--black-color);
    line-height: 28px;
}

.post-text p{
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
    margin-top: 15px;
}

.post-text p span{
    color: var(--red-color);
}
/* =====================blog left part end==================== */

/* =====================blog right part start==================== */
.blg-right-part {
    width: 75%;
    margin-left: 50px;
}

.blog-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-product-item {
    width: 300px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    overflow: hidden;
    margin-bottom: 20px;
}

.blog-product-text {
    padding: 20px;
}

.blog-product-text h3{
    font-size: 18px;
    font-weight: 700;
    color: var(--black-color);
    line-height: 27px;
}

.blog-product-text p{
    font-size: 18px;
    font-weight: 400;
    color: var(--icon-color);
    line-height: 27px;
    margin-top: 16px;
}

.admin p{
    font-size: 18px;
    font-weight: 400;
    color: var(--icon-color);
    margin-top: 16px;
}

.admin p span {
    color: var(--red-color);
}

.blg-right-part li:after{
    display: none !important;
}

.blg-right-part .page-link {
    padding: 0 !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.blg-right-part .pagination {
    --bs-pagination-active-bg: var(--red-color) !important;
    --bs-pagination-border-width: var(--red-color) !important;
    --bs-pagination-color: var(--black-color) !important;
    --bs-pagination-active-border-color: none !important;
}

.blg-right-part .page-link:focus {
    box-shadow: none !important;
}

.blg-right-part .disabled>.page-link {
    border: none !important;
    background: none !important;
    border-radius: none !important;
}

.blg-right-part .page-item:first-child .page-link {
    border: none !important;
    background: none !important;
    border-radius: none !important;
}

.blg-right-part .page-item:last-child .page-link {
    border: none !important;
    background: none !important;
    border-radius: none !important;
}
/* =====================blog right part end==================== */
