:root{
  --red-color: #F46B5B;
  --black-color: #383838;
  --icon-color: #A7A7A7;
  --border-color: #EFEFF0;
  --white-color: #fff;
  --searchbox-color: #EFEFF0;
  --bg-color: #C4C4C4;
  --tag-color: #BB6BD9;
  --companyname-color: #999999;
  --tag2-color: #2D9CDB;
  --footer-bg: #FAF3F2;
  --footericon-color: rgba(244, 106, 91, 0.534);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ol, ul{
  list-style-type: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0 !important;
}